<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodling.submission.mapper.SubmissionMapper">
    <insert id="insertSubmission" parameterType="com.doodling.submission.dto.SubmissionRequestDto">
        <selectKey keyProperty="submissionId" resultType="java.lang.Integer" order="BEFORE">
            <![CDATA[
            SELECT seq_submission.nextval AS submissionId FROM dual
            ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO submission (submission_id, relay_id, member_id, week, content, sketch)
        VALUES (#{submissionId}, #{relayId}, #{memberId}, #{week}, #{content}, UTL_RAW.CAST_TO_RAW(#{sketch}))
        ]]>
    </insert>
</mapper>