<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodling.submission.mapper.SubmissionMapper">
    <select id="selectSubmissionByRecommendCount" resultType="Submission">
        <![CDATA[
            select submission_id submissionId, member_id memberId, recommend_cnt recommendCnt, regdate, deletedate, content, TO_CHAR(sketch) sketch
            from submission
            where deletedate is null
              and relay_id=#{relayId}
              and week=#{week}
            order by recommend_cnt desc
        ]]>
	</select>

    <select id="selectSubmissionByRegisterDate" resultType="Submission">
        <![CDATA[
        select submission_id submissionId, member_id memberId, recommend_cnt recommendCnt, regdate, deletedate, content, TO_CHAR(sketch) sketch
        from submission
        where deletedate is null
          and relay_id=#{relayId}
          and week=#{week}
        order by regdate desc
        ]]>
	</select>

    <insert id="insertSubmission" parameterType="Submission">
        <selectKey keyProperty="submissionId" resultType="java.lang.Integer" order="BEFORE">
            <![CDATA[
        SELECT seq_submission.nextval AS submissionId FROM dual
        ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO submission (submission_id, relay_id, member_id, week, content, sketch)
        VALUES (#{submissionId}, #{relayId}, #{memberId}, #{week}, #{content}, UTL_RAW.CAST_TO_RAW(#{sketch}))
        ]]>
    </insert>

    <update id="deleteSubmission" parameterType="java.lang.Integer">
        <![CDATA[
        UPDATE submission
        SET deletedate = sysdate
        WHERE submission_id = #{submissionId}
        ]]>
    </update>

    <select id="selectSubmissionsByRelayIdAndIsSelected" resultType="Submission">
        SELECT * FROM submission
        WHERE relay_id = #{relayId}
          AND is_selected = #{isSelected}
    </select>

    <select id="selectSubmissionById" resultType="Submission">
        <![CDATA[
        SELECT relay_id relayId,
               content,
               TO_CHAR(sketch) sketch,
               regdate,
               recommend_cnt recommendCnt
        FROM submission
        WHERE submission_id = #{submissionId}
        ]]>
    </select>
</mapper>