<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodling.admin.mapper.AdminRelayMapper">
    <insert id="insertRelay" parameterType="Relay">
        <![CDATA[
            insert into relay (relay_id, startdate, enddate, title, age, cover)
            values (seq_relay.nextval, #{startdate}, #{enddate}, #{title}, #{age}, UTL_RAW.CAST_TO_RAW(#{cover}))
        ]]>
	</insert>

    <update id="deleteRelay" parameterType="java.lang.Integer">
        <![CDATA[
            update relay
            set is_end = case
                when sysdate >= enddate then 1
                else is_end end
            where relay_id = #{relayId}
        ]]>
	</update>
</mapper>