<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명 : AdminSubmissionMapper.xml
    설  명 : 관리자 당선작 관리
    == 개정이력 ========================================
     수정일        수정자     수정내용
    ==========   =======   ================================
    2024.06.23   김지현      최초 생성
-->
<mapper namespace="com.doodling.admin.mapper.AdminSubmissionMapper">
    <!-- memberId로 member 정보 가져오기 -->
    <select id="selectMember" parameterType="java.lang.Integer">
        SELECT member_id
        FROM submission
        WHERE submission_id = #{submissionId}
    </select>

    <!-- 일요일이면 submissionId로 submission 당선 처리 -->
    <update id="selectSubmission" parameterType="java.lang.Integer">
        <![CDATA[
            UPDATE SUBMISSION s
            SET s.is_selected = 1
            WHERE s.submission_id = #{submissionId}
              AND s.deletedate IS NULL
              AND EXISTS(
                  SELECT 1
                  FROM MEMBER m
                  WHERE m.member_id = s.member_id
                    AND m.deletedate IS NULL
              )
              AND TO_CHAR(SYSDATE, 'D') = 0
        ]]>
	</update>

    <!-- 일요일이면 submissionId로 submission 당선 처리 취소 -->
    <update id="cancelSubmission" parameterType="java.lang.Integer">
        <![CDATA[
            UPDATE SUBMISSION s
            SET s.is_selected = 0
            WHERE s.submission_id = #{submissionId}
              AND s.deletedate IS NULL
              AND EXISTS(
                SELECT 1
                FROM MEMBER m
                WHERE m.member_id = s.member_id
                  AND m.deletedate IS NULL
            )
              AND TO_CHAR(SYSDATE, 'D') = 0
            ]]>
	</update>

</mapper>