<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodling.admin.mapper.NoticeMapper">
    <insert id="insertNotice">
        <![CDATA[
            insert into notice (notice_id, title, content)
            values (seq_notice.nextval, #{title}, #{content})
        ]]>
	</insert>

    <update id="deleteNotice" parameterType="java.lang.Integer">
        <![CDATA[
            update notice
            set deletedate = sysdate
            where notice_id = ${noticeId}
        ]]>
	</update>

  
    <select id="getNotice" parameterType="java.lang.Integer" resultType="Notice">
        <![CDATA[
        SELECT
            title,
            content,
            regdate
        FROM notice
        WHERE deletedate IS NULL
          AND notice_id = ${noticeId}
        ]]>
    </select>
    <select id="getNoticeList" resultType="Notice">
        <![CDATA[
            SELECT
                notice_id AS noticeId,
                title,
                content,
                regdate,
                deletedate
            FROM notice
            WHERE deletedate IS NULL
            ORDER BY regdate DESC
        ]]>
    </select>
</mapper>