<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명 : RefreshTokenMapper.xml
    설  명 : refresh token

    == 개정이력 ========================================
     수정일       수정자    수정내용
    ========== ======= ================================
    2024.06.19 김지수   최초 생성
-->
<mapper namespace="com.doodling.member.mapper.RefreshTokenMapper">

    <insert id="insertRefreshToken" parameterType="RefreshToken">
        <selectKey keyProperty="tokenId" resultType="Integer" order="AFTER">
            <![CDATA[
            SELECT seq_refresh_token.currval AS tokenId FROM dual
            ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO refresh_token (token_id, refresh_token, member_id, expiredate)
        VALUES (seq_refresh_token.nextval, #{refreshToken}, #{memberId}, #{expiredate})
        ]]>
    </insert>

    <!-- 회원탈퇴 등으로 인해 생긴 더 이상 유효하지 않은 refresh token -->
    <insert id="insertExpiredRefreshToken" parameterType="RefreshToken">
        <selectKey keyProperty="tokenId" resultType="Integer" order="AFTER">
            <![CDATA[
            SELECT seq_expired_refresh_token.currval AS tokenId FROM dual
            ]]>
        </selectKey>
        <![CDATA[
        INSERT INTO expired_refresh_token (token_id, refresh_token, member_id)
        VALUES (seq_expired_refresh_token.nextval, #{refreshToken}, #{memberId})
        ]]>
    </insert>

    <delete id="delete" parameterType="RefreshToken">
        <![CDATA[
        DELETE refresh_token
        WHERE member_id = #{memberId}
        AND refresh_token = #{refreshToken}
        ]]>
    </delete>

    <delete id="deleteByMemberId" parameterType="Integer">
        <![CDATA[
        DELETE refresh_token
        WHERE member_id = #{memberId}
        ]]>
    </delete>

    <!-- 특정 유저의 블랙리스트에 오른 refresh token 목록 -->
    <select id="countMemberExpiredRefreshToken" parameterType="RefreshToken" resultType="Integer">
        <![CDATA[
        SELECT COUNT(*)
        FROM expired_refresh_token
        WHERE member_id = #{memberId}
        AND refresh_token = #{refreshToken}
        ]]>
    </select>
</mapper>
