<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doodling.relay.mapper.RelayMapper">
    <select id="selectAllBookRelays" resultType="Relay">
        <![CDATA[
        SELECT r.relay_id relayId,
               r.title title,
               TO_CHAR(r.cover) cover,
               r.age age
        FROM relay r
                 INNER JOIN submission s ON r.relay_id = s.relay_id
        WHERE r.is_end = 1
          AND s.is_selected = 1
        ORDER BY r.relay_id
        ]]>
    </select>

    <select id="selectAllOngoingRelays" resultType="Relay" parameterType="Integer">
        <![CDATA[
        SELECT r.relay_id relayId,
               r.title title,
               TO_CHAR(r.cover) cover,
               r.age age
        FROM relay r
        WHERE r.is_end = #{filter}
        ORDER BY r.relay_id
        ]]>
    </select>

    <select id="selectBookDetailsByRelayId" resultType="Book" parameterType="Integer">
        <![CDATA[
        SELECT r.relay_id relayId,
               s.submission_id submissionId,
               s.week week,
               m.username,
               s.content,
               TO_CHAR(s.sketch) sketch
        FROM relay r
                 JOIN submission s ON r.relay_id = s.relay_id
                 JOIN member m ON s.member_id = m.member_id
        WHERE r.relay_id = #{relayId}
          AND r.is_end = 1
          AND s.is_selected = 1
        ORDER BY s.submission_id
        ]]>
    </select>

    <select id="selectBookPaging" resultType="Relay" parameterType="Criteria">
        <![CDATA[
        SELECT r1.relayId,
               r1.title,
               TO_CHAR(r1.cover) AS cover,
               r1.age
        FROM (
                 SELECT r2.relay_id AS relayId,
                        r2.title AS title,
                        r2.cover AS cover,
                        r2.age AS age,
                        ROW_NUMBER() OVER (ORDER BY r2.startdate DESC) AS row_num
                 FROM relay r2
                 WHERE r2.is_end = 1
             ) r1
        WHERE r1.row_num > ((#{pageNum} - 1) * #{pageSize}) AND r1.row_num <= (#{pageNum} * #{pageSize})
        ]]>
    </select>

    <select id="countTotalBooks" resultType="Integer">
        SELECT COUNT(*)
        FROM relay
        WHERE is_end = 1
    </select>
</mapper>